:where([data-theme="dark"], .dark, .dark-theme) {
  --surface-0: var(--gray-12);
  --text-3: var(--gray-5);
  --surface-neutral: var(--gray-6);
  --surface-contrast: white;
  --text-contrast: var(--gray-12);
}
