:where([data-theme="light"], .light, .light-theme) {
  --surface-0: white;
  --text-3: var(--gray-6);
  --surface-neutral: var(--gray-5);
  --surface-contrast: var(--gray-12);
  --text-contrast: var(--gray-1);
}
