:where(html) {
  --surface-0: white;
  --text-3: var(--gray-6);
  --surface-neutral: var(--gray-5);
  --surface-contrast: var(--gray-12);
  --text-contrast: var(--gray-1);
}

@media (prefers-color-scheme: dark) {
  :where(html) {
    --surface-0: var(--gray-12);
    --text-3: var(--gray-5);
    --surface-neutral: var(--gray-6);
    --surface-contrast: white;
    --text-contrast: var(--gray-12);
  }
}
